<div class="row">
 <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <img src="../../../assets/perfil.png"
     class="img-fluid">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p>Terlecky Angela Andrea Noemi</p>
    <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mí</h1>
        <p>Me considero una persona responsable, proactiva y autodidacta.
        Aspiro desarrollar mi carrera profesional y adquirir experiencia para desempeñarme de manera eficiente. 
        Actualmente poseeo experiencia en multiples areas de diferentes industrias, 
        lo que me brinda herramientas a la hora de analizar y desarrollar procesos.
        </p>
    </span>
    </div>
</div>  

